include dash_cytoscape/dash_cytoscape.min.js
include dash_cytoscape/dash_cytoscape.dev.js
include dash_cytoscape/dash_cytoscape_extra.min.js
include dash_cytoscape/dash_cytoscape_extra.dev.js
include dash_cytoscape/metadata.json
include dash_cytoscape/package.json
include dash_cytoscape/utils
include README.md
include LICENSE