# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary
dash[dev, testing]==2.*
ipdb
percy
selenium
flake8
pylint==2.17.5
colour==0.1.5
biopython>=1.77
pytest==7.0.1
wrapt==1.14.0
black==23.9.1
dash-leaflet>=1.0.16rc3
