# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary
dash>=0.38.0
ipdb
percy
selenium
flake8
pylint
pytest-dash>=2.1.1
colour==0.1.5
biopython>=1.77;python_version>="3.0"
biopython==1.76;python_version=="2.7"
